/* opmaak kerk in navigatiebalk */

.kerk{
    float: right;
    padding-right: 28%;
    margin-top: 10px;
    height: 90px;
    width: auto;
}

/* opmaak VDLP tekst in navigatiebalk */

.header-title{
	float: right;
	padding-right: 5%;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	color: white;
}

/* textkleur actieve pagina */

#gn-menu-active{
	color: lightsteelblue;
}

/* textkleur actieve pagina bij hover */

#gn-menu-active:hover{
	color: white;
}


/* navigatiebalk opmaak */

.gn-menu-main {
	margin: 0;
	padding: 0;
	background: #008cd4;
	line-height: 65px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100px;
}

/* dropdown menu opmaak */
.gn-menu-main ul {
	border-top: solid white 2px;
	margin: 0;
	width: 100%;
	padding: 0;
	background: #008cd4;
	list-style: none;
	border-radius: 0px 0px 70px 0px;
}

/* dropdown menu tekst opmaak */
.gn-menu-main a {
	text-align: left;
	padding-left: 15px;
	font-weight: bold;
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	display: block;
	height: 100%;
	color: white;
	text-decoration: none;
	cursor: pointer;
	font-size: 18x;
}

/*muis hover opmaak*/

.no-touch .gn-menu a:hover{

	background: deepskyblue;
	color: white;
	text-decoration: none;
}

/* dropdown hamburger knop */

.gn-menu-main > li > a {
	float: left;
	height: 55px;
	width: 75px;
	padding: 0;
	margin-top: 100px;
	border-top: solid white 2px;
	background: #008cd4;
	border-radius: 0px 0px 125px 0px;
}

/* dropdown correct weergeven en slide in animatie*/

.gn-menu-wrapper {
	position: fixed;
	top: 100px;
	bottom: 0;
	overflow: hidden;
	-webkit-transform: translateX(-60px);
	-moz-transform: translateX(-60px);
	transform: translateX(-60px);
	height: 420px;
	background: #008cd4;
	border-radius: 0px 0px 70px 0px;
	-webkit-transition: -webkit-transform 0.3s, width 0.3s;
	-moz-transition: -moz-transform 0.3s, width 0.3s;
	transition: transform 0.3s, width 0.3s;
		
}

/* dropdown correct weergeven */

.gn-scroller {
	position: absolute;
	width: 140px;
	height: 100%;
}

/* hamburger knop weergeven */

.gn-icon::before {
	display: inline-block;	
}

/* hamburger knop geen hover opmaak */

.gn-icon-menu::before {
		margin-left: 9px;
		vertical-align: 3px;
		width: 37px;
		height: 4px;
		background: white;
		box-shadow: 0 -1px #008cd4, 0 -11px white, 0 -14px #008cd4, 0 -22px white;
		content: '';
}

/* hamburger knop hover opmaak */

.no-touch .gn-icon-menu:hover::before,
.no-touch .gn-icon-menu.gn-selected:hover::before {
		background: lightsteelblue;
		box-shadow: 0 -1px #008cd4, 0 -11px lightsteelblue, 0 -14px #008cd4, 0 -22px lightsteelblue;
}

/* opengaan van dropdown opmaak */

.gn-menu-wrapper.gn-open-all{
	transform: translateX(0px);
	width: 140px;
}
